$Color-Dark: #141414;
$Color-White: #e5e5e5;
$Color-Orange: #eba53d;

.home-body{
 
    h2{
        text-align: center;
        padding: 25px;
    }

    p{
        text-align: justify;
        padding: 15px 0;
        padding: 25px;
    }
}

.our-pizza{
    background-color: $Color-Orange;
    h2{
        font-size: 25px;
    }
    .container-our-pizza{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        div{
            max-width: 600px;
            width: 100%;
            margin: 0  auto ;
            text-align: center;
            img{
        
                width: 80%;
                margin: 0  auto ;
                text-align: center;
                margin-bottom: 30px;
                border-radius: 20px;
                filter: brightness(70%);
                transition: 0.3s;
                
                &:hover{
                    filter: brightness(100%);
                 
                }
            }

        }

    }

}

.about-pizza{
    padding-bottom: 30px;
    .cont-about{
        padding: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
     

        img{
          object-fit: cover;
          width: 50%;
           margin: 20px;
          
           border-radius: 15px;
           flex-basis: 50%;

        }

        .about-description{
            flex-basis: 50%;
            padding-left: 40px;
            h3{
                padding-top: 20px;
                padding-bottom: 30px;
                font-size: 20px;

            }
            li{
                padding: 0;
                padding-left: 15px;
                padding-bottom: 20px;
                font-size: 18px;
                list-style: circle;

            }
        }
    }
}






.all-reference{
    
    h2{
        padding: 25px;
    }

    .reference{
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
      

        .one-ref{
            box-shadow: 0 0 10px black;
            padding: 10px;
            max-width: 300px;
            margin: 0 auto;
            margin: 10px;
            border-radius: 15px;
            img{
                height: 90px;
                width: 90px;
                border-radius: 50%;
                margin: 20px;
                transition: all 0.5s;
                &:hover{
                    scale: 1.3;
                }
            }
            h5{
                text-align: left;
                font-size: 18px;
                margin-bottom: 10px;
            }
            p{
                padding: 0;
                margin-bottom: 10px;
            }
            h6{
                font-size: 15px;
                text-align: right;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .cont-about{
        flex-direction: column;
    }

    
}